<% @articles.each do |article| %>
  <div class="card text-center">
    <div class="card-header font-italic">
      <p class="mb-0">
        <% if article.user %>
        by <%= link_to article.user.username, user_path(article.user) %>
      <% end %>
      </p>
      <% if article.categories.any? %>
        <%= render article.categories %>
      <% end %>
    </div>
    <div class="card-body">
      <h5 class="card-title"><%= article.title %></h5>
      <p class="card-text"><%= truncate(article.description, length: 100) %></p>
      <div class="card__buttons">
        <%= link_to "View", article_path(article), method: :get, class: 'btn btn-success' %>
        <% if logged_in? && (article.user == current_user || current_user.admin?) %>
          <%= link_to "Edit", edit_article_path(article), class: 'btn btn-primary' %>
          <%= link_to "Delete", article_path(article), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger'  %>
        <% end %>
    </div>
    </div>
    <div class="card-footer text-muted">
      <small>Created ago <%= time_ago_in_words(article.created_at) %>, edited ago <%= time_ago_in_words(article.updated_at) %></small>
    </div>
  </div>
<% end %>