<div class="show-articles-container">
  <%= render partial: "shared/messages", locals: { messages: @shared } %>

  <h2><%= @article.title %></h2>

  <div class="card text-center">
    <div class="card-header font-italic">
      <p class="card-header-p">by <%= @article.user.username if @article.user %></p>
      <%= link_to gravatar_for(@article.user), user_path(@article.user) %>
    </div>
    <div class="card-body">
      <div class="card-text"><%= simple_format(@article.description) %></div>
      <% if logged_in? && (@article.user == current_user || current_user.admin?) %>
        <div class="card__buttons">
          <%= link_to "Edit", edit_article_path(@article), class: 'btn btn-primary' %>
          <%= link_to "Delete", article_path(@article), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger'  %>
      </div>
      <% end %>
    </div>
    <div class="card-footer text-muted">
      <small>Created ago <%= time_ago_in_words(@article.created_at) %>, edited ago <%= time_ago_in_words(@article.updated_at) %></small>
    </div>
  </div>
</div>