<div class="users__container">

  <h1>Alpha Bloggers</h1>

  <div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info @users %>
    </div>
    <%= will_paginate @users, :container => true %>
  </div>

  <% @users.each do |user| %>
    <div class="card text-center">
      <div class="card-header font-italic">
        <!--                    user_path(user) same as below -->
        <%= link_to user.username, user %>
      </div>
      <div class="card-body">
        <h5 class="card-title">
          <%= link_to gravatar_for(user, size: 150), user %>
        </h5>
        <p class="card-text"><%= pluralize(user.articles.count, "article") %></p>
        <div class="card__buttons">
          <%= link_to "View profile", user, class: 'btn btn-success' %>
          <%= link_to "Edit profile", edit_user_path(user), class: 'btn btn-primary' %>
      </div>
      </div>
      <div class="card-footer text-muted">
        <small>Joined <%= time_ago_in_words(user.created_at) %> ago</small>
      </div>
    </div>
  <% end %>

  <div class="digg_pagination bottom">
    <div class="page_info">
      <%= page_entries_info @users %>
    </div>
    <%= will_paginate @users, :container => true %>
  </div>

</div>