<div class="users__container">

  <%= render partial: "shared/messages", locals: { messages: @shared } %>

  <h1><%= @user.username %>'s profile</h1>

  <%= gravatar_for @user, size: 200 %>

  <% if logged_in? && @user == current_user %>
    <%= link_to "Edit profile", edit_user_path(@user), class: "btn btn-primary", id: "user__btn-edit" %>
  <% end %>

  <h3 class="user__show__h3">Articles</h3>

  <div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info @articles %>
    </div>
    <%= will_paginate @articles, :container => true %>
  </div>

  <%= render "articles/article" %>

  <div class="digg_pagination bottom">
    <div class="page_info">
      <%= page_entries_info @articles %>
    </div>
    <%= will_paginate @articles, :container => true %>
  </div>

</div>